<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button routerLink="/home" slot="secondary">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuração</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container top">
    <div>
      <ion-button class="buttons" size="large" expand="block" (click)="AlertaReset()">
        <ion-title>Reset</ion-title>
      </ion-button>
    </div>
    <div>
      <ion-button class="buttons" size="large" expand="block" (click)="AlertaLogout()">
        <ion-title>Logout</ion-title>
      </ion-button>
    </div>
  </div>
</ion-content>