<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button routerLink="/home" slot="secondary">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="master">
  <div class="container top">
    <div>
      <ion-button mode="ios" size="default" class="buttons" expand="block" (click)="AlertaReset()">
          <ion-icon name="refresh"></ion-icon>
        <ion-title>Reset</ion-title>
      </ion-button>
    </div>
    <div>
      <ion-button mode="ios" class="buttons"  expand="block" (click)="Logout()">
          <ion-icon name="log-out"></ion-icon>
        <ion-title>Logout</ion-title>
      </ion-button>
    </div>
  </div>
</ion-content>