<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button routerLink="/home" slot="secondary">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Aprender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="master">
  <ion-card mode="ios" class="corvermelha">
      <ion-card-header>
          <div class="col text-right">
              <ion-card-title class='texto' style="color:white;"> Negociar no mercado de ações. </ion-card-title>
              <img class="imagem" align="left" src="../../assets/img/money.png" >
          </div>
      </ion-card-header>
    </ion-card> 

  <ion-list>
    <ion-item routerLink='/pagina1' mode="ios" detail>
      <ion-label style="color:white;">1 PORQUÊ NEGOCIAR</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item routerLink='/pagina2' mode="ios" detail>
      <ion-label style="color:white;">2 FUNDAMENTOS BÁSICOS</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item routerLink='/pagina3' mode="ios" detail>
      <ion-label style="color:white;">3 COMO LER GRÁFICOS</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item routerLink='/pagina4' mode="ios" detail>
      <ion-label style="color:white;">4 EXEMPLOS DE NEGOCIAÇÃO</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item routerLink='/pagina5' mode="ios" detail>
      <ion-label style="color:white;">5 QUANDO NEGOCIAR AÇÕES</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item routerLink='/pagina6' mode="ios" detail>
      <ion-label style="color:white;">6 10 DICAS DOS PROFISSIONAIS</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item routerLink='/pagina7' mode="ios" detail>
      <ion-label style="color:white;">7 ONDE COMEÇAR</ion-label>
    </ion-item>
  </ion-list>

  <!--1 PORQUÊ NEGOCIAR?
  2 FUNDAMENTOS BÁSICOS
  3 COMO LER GRÁFICOS
  4 EXEMPLOS DE NEGOCIAÇÃO
  5 QUANDO NEGOCIAR AÇÕES
  6 10 DICAS DOS PROFISSIONAIS
  7 ONDE COMEÇAR
  -->

</ion-content>