ion-toolbar{
    --background:var(--ion-color-primary);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-top: 3%!important;
    ion-icon {
    color: #ffffff;
    }
    
    

}


ion-icon{
    font-size: 30px;  
    }