<ion-content class="master swiper-no-swiping">
  <ion-slides mode="ios">
    <ion-slide mode="ios">

      <div class="slide-inner ion-padding">
        <h1>Login</h1>

        <ion-item mode="ios" class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item mode="ios" class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button mode="ios" class="ion-margin-top" (click)="login()" expand="block">
          Entrar
        </ion-button>

        <ion-button mode="ios" fill="clear" class="ion-margin-top" (click)="segmentChangedSingUp()" expand="block"
          style="color:white;">
          <h4>Sing Up</h4>
        </ion-button>
      </div>



    </ion-slide>

    <ion-slide mode="ios">
      <div class="slide-inner ion-padding">
        <h1>Cadastro</h1>

        <ion-item mode="ios" class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome" [(ngModel)]="userRegister.name"></ion-input>
        </ion-item>

        <ion-item mode="ios" class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item mode="ios" class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button mode="ios" class="ion-margin-top" (click)="register()" expand="block">
          Cadastrar
        </ion-button>

        <ion-button mode="ios" fill="clear" class="ion-margin-top" (click)="segmentChangedSingIn()" expand="block"
          style="color:white;">
          <h4>Sing In</h4>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>