.master{
    --ion-background-color: #808080;
}

.top{
    --ion-background-color: linear-gradient(to bottom right,rgb(226, 243, 77), var(--ion-color-primary));
}

.buttons{ 
    text-align: center;
    margin: 0 15px;
}
.but-div{
    text-align: center;
}