.master{
    --ion-background-color:  var(--ion-color-secondary);
}

ion-toolbar{
    --background:var(--ion-color-primary);
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    

    ion-icon {
    color: #ffffff;
    }
    
}

ion-icon{
    font-size: 30px;  
    }


.buttons{ 
    text-align: center;
    width: 40%;
    margin: 15px 15px; 
}

.graf {
    width: 100%;
    height: 70% ;
    text-align: center;
    border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color:  var(--ion-color-primary);
    margin: 5px auto;
}

.comp-div{
    width: 80%; 
    height: 10%;
    text-align: center;
    margin: 0px auto; 
}

.vend-div{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

