

<ion-header class="top">
  <ion-toolbar>
    <ion-title  text-center>Detalhe Acao </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="master">

  <div> <!-- Dados padões em cima  -->
  </div> 

  <div>  <!-- Info Ações -->
    <p text-center>
      Empresa valor porcentagem
    </p>
  </div>

  <div class="graf"> <!-- Grafico -->
    <p>Grafico</p>
  </div>
<div> 
    <section  class="but-div">
        <ion-button class="buttons" color="success" (click)="venda()" >Venda</ion-button>
        <ion-button class="buttons" color="danger" (click)="compra()" >Compra</ion-button>
    </section>
</div>

<div class="comp-div" *ngIf="comp">
  <ion-item>
    <ion-range min="0" max="1000" pin color="secondary">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-range>
  </ion-item>
</div>

<div class="vend-div" *ngIf="vend">

</div>

</ion-content>
