

<ion-header class="top">
  <ion-toolbar>
    <ion-title  text-center>Detalhe Acao </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="master">

  <div> <!-- Dados padões em cima  -->
  </div> 

  <div>  <!-- Info Ações -->
    <p text-center>
      Empresa valor porcentagem
    </p>
  </div>

  <div class="graf"> <!-- Grafico -->
    <p>Grafico</p>
  </div>
<div> 
    <section  class="but-div">
        <ion-button class="buttons" color="success">Venda</ion-button>
        <ion-button class="buttons" color="danger">Compra</ion-button>
    </section>
  </div>
</ion-content>
