.master{
    --ion-background-color:  var(--ion-color-secondary);
    color: #ffffff;
}

p{
    color: #ffffff;
    text-indent: 30px
}

table{
    color: #ffffff;
}

ion-toolbar{
    --background:var(--ion-color-primary);
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    

    ion-icon {
    color: #ffffff;
    }
    
}

ion-icon{
    font-size: 30px;  
    }


.butdiv{
    text-align: center;
}
    
.buttons{ 
    text-align: center;
    width: 40%;
    display: inline-block;
    margin: 10px 10px;
}

#graf {
    width: 100%;
    height: 70% ;
    text-align: center;
    background-color: var(--ion-color-secondary-shade);
    margin: 5px auto;
}

table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    font-size: 13px; 
  }
  td, th {
    overflow: hidden;
    text-overflow: ellipsis;
  }
th{
    color: var(--ion-color-primary);
}

p{
    color: var(--ion-color-primary);
}