<ion-header>

  <!-- cabecalho!!!!!!!!!!!!!! -->
  <ion-toolbar mode="ios">
    <ion-buttons>


    </ion-buttons>
    <ion-title>


    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-toolbar class="filter">
  <ion-searchbar mode="ios"></ion-searchbar>
</ion-toolbar>

<ion-content fullscreen class="master">


  <div class="listCarteria">
    <h4>CARTEIRA DE AÇÕES</h4>
  </div>
  <ion-list mode="ios" *ngIf="!acaoList.length">
    <ion-item mode="ios" *ngFor="let item of [0]">

      <ion-label mode="ios">
        <h3>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>

      </ion-label>
    </ion-item>
  </ion-list>





  <ion-list mode="ios">
    <!-- <ion-list-header>
        Compra
      </ion-list-header> -->


    <ion-item mode="ios" *ngFor="let acao of acaoList" button (click)="getDetalheAcao(acao.id)">


      <ion-label mode="ios" class="infoAcao">
        <table style="width:100%">
          <tr>
            <th><span> {{ acao.id }} </span></th>
          </tr>
          <tr class="itemNome">
            <th>
              <p>Compra</p>
            </th>
            <th>
              <p>Quantidade</p>
            </th>
            <th>
              <p>Data</p>
            </th>
          </tr>
          <tr class="itemData">
            <td>
              <p>{{ acao.valorCompra }}</p>
            </td>
            <td>
              <p> {{ acao.quantidade }}</p>
            </td>
            <td>
              <p> {{ acao.dataCompra.seconds*1000 | date:'dd-MM-yyyy' }}</p>
            </td>
          </tr>
        </table>
      </ion-label>


    </ion-item>


  </ion-list>


</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);
  searchbar.addEventListener('ionInput', handleInput);
  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.firstChild.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>