<!-- [(ngModel)]="compra.nomeAcao"?
  -->

<ion-content class="master">
  <ion-item>
    <ion-label color="light">Ordem de Compra</ion-label>
    <ion-select style="color:white" [(ngModel)]="compra.tipoOrdem" (ionChange)="change($event);"> 
      <ion-select-option value="Mercado"  ng-model="X">Mercado</ion-select-option>
      <ion-select-option value="Limitado">Limitado</ion-select-option>
    </ion-select>
  </ion-item>
      <ion-item>
          <ion-label position="floating" color="light">Quantidade</ion-label>
          <ion-input type="number" color="light" [(ngModel)]="compra.quantidadeAcao"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" color="light">Valor</ion-label>
          <ion-input disabled="{{isDisabled}}" type="number" color="light" [(ngModel)]="compra.valorOrdem" ></ion-input>
      </ion-item>
      <ion-footer> 
          <ion-toolbar>
            <section>
              <ion-button class="buttons" color="danger" (click)="closeModal()" >Cancel</ion-button>
              <ion-button class="buttons" color="success" (click)="okModal()">Ok</ion-button> 
          </section>
          </ion-toolbar>
        </ion-footer>
</ion-content>
