ion-toolbar{
    --background:var(--ion-color-primary);
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    padding-right: 15%;
    padding-top: 5% !important;
    ion-icon {
    color: #ffffff;
    }
    
    span{
        
        font-size:x-large ;
    }
   

}


ion-icon{
    font-size: 30px;  
    }

.master{
    --ion-background-color:  var(--ion-color-secondary);
} 


