.my-custom-menu {
    --width: 500px;
  }
  .container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 30%;

        span {
            color: #fff;
        }
    }
}