<!-- cabecalho!!!!!!!!!!!!!! -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      R$ {{dataUser.dinheiro}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- cabecalho!!!!!!!!!!!!!!!! -->

<ion-content class="master">
  <div class="container top">
    <div>
      <ion-button mode="ios" class="buttons" expand="block" (click)="aprenderButton()" >
        <ion-icon mode="ios" name="bookmarks"></ion-icon>
        <ion-title mode="ios">APRENDER</ion-title>
      </ion-button>
    </div>
    <div>
      <ion-button mode="ios" class="buttons" expand="block" (click)="jogarButton()">
        <ion-icon mode="ios" name="trending-up"></ion-icon>
        <ion-title mode="ios">JOGAR</ion-title>
      </ion-button>
    </div>
    <div>
      <ion-button mode="ios" class="buttons" expand="block" (click)="configuracaoButton()" >
        <ion-icon mode="ios" name="cog"></ion-icon>
        <ion-title mode="ios">CONFIGURAÇÃO</ion-title>
      </ion-button>
    </div>
  </div>
</ion-content>