ion-toolbar{
    --background:var(--ion-color-primary);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    
    ion-icon {
    color: #ffffff;
    }
}

ion-icon{
    font-size: 40px;  
    }

.master{
    --ion-background-color:  var(--ion-color-primary);
} 
.buttons{ 
    margin: 25px auto;
    width: 100%;
    height: 120% ;
    font-size: 10px;
    outline-style: none;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto ;
    z-index: 2;

    &.top {
        top: 25%;
    }   
    &.bottom {
        bottom: 30%;

        span {
            color: #fff;
        }
    } 
}
