<!-- cabecalho!!!!!!!!!!!!!! -->
  <ion-toolbar mode="ios">

    <ion-title >
        <!--ion-icon name="wallet"></ion-icon-->     
      <span>R$</span>
    </ion-title>

  </ion-toolbar>
<!-- cabecalho!!!!!!!!!!!!!!!! -->

  <ion-content class="master">

<div class="ion-padding">
    <ion-button class="ion-margin-top" (click)="ordem()" color="primary" >
        <ion-icon name="bookmarks"></ion-icon>
        <ion-title>APRENDER</ion-title>
    </ion-button>
</div>

<div class="ion-padding">
    <ion-button class="ion-margin-top" (click)="ordem()" color="primary" >
        <ion-icon name="trending-up"></ion-icon>
        <ion-title>JOGAR</ion-title>
    </ion-button>
</div>

<div class="ion-padding"> 
    <ion-button class="ion-margin-top" (click)="ordem()" color="primary">
        <ion-icon name="settings"></ion-icon>
        <ion-title>CONFIGURAÇÃO</ion-title>
    </ion-button>
</div>   
  </ion-content>