ion-toolbar{
    --background:var(--ion-color-primary);
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    

    ion-icon {
    color: #ffffff;
    }
}

ion-icon{
    font-size: 30px;  
    }

.master{
    --ion-background-color:  var(--ion-color-primary);
} 

ion-list p {
        font-size: small;
        color: #ffffff;
    }

