<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button routerLink="/aprender" slot="secondary">
        <!--ion-icon slot="arrow-back" name="home"></ion-icon-->
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>PORQUÊ NEGOCIAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="master">
  <div class="ion-padding" style="color:white;">

   <p> A HISTÓRIA PROVOU QUE DURANTE A CRISE FINANCEIRA: </p>
   <p>- O mercado de ações sofre um declínio</p>
   <p>- As transações imobiliárias esfriam </p>
   <p>- O sector do retalho poderá sofrer grandes perdas ou até falência </p>
    
   <p>O Mercado de ações, por outro lado, poderá permanecer lucrativo, mesmo nos piores momentos, porque as moedas são sempre negociadas em pares. Quando o valor de uma moeda sofre um declínio, o valor da outra aumenta. </p>
   <p>Muito divertido, huh? Poderá ganhar, independentemente do facto de o mercado estar em tendência ascendente ou descendente. </p>
   
   <p>TRABALHE ENQUANTO DESCANSA </p>
    <ion-card >
      <img src="../../assets/img/img1.jpeg">
    </ion-card>  
    <p>Uma das grandes vantagens do comércio do mercado de ações é que se pode trabalhar em qualquer lado! Tudo o que necessita é de um computador e/ou um smartphone e ligação à Internet. Muitos negociadores de sucesso do mercado de ações utilizam aplicações de negócio avançadas nos seus iPhone ou Android e tablets. Por isso, escolha o espaço e o estilo de vida que se adapta aos seus objetivos comerciais e seja o seu próprio patrão!</p>
    
    <p>REGRAS FÁCEIS </p>
    <ion-card >
      <img src="../../assets/img/img2.jpeg">
    </ion-card>    
    <p>Em 2016, existiam mais do que 45.000 empresas negociadas publicamente em todo o mundo e, apesar de existirem muitas moedas no mercado de ações, os negociadores trabalham com apenas 8. </p>
    <p>Para além disso, o valor das moedas é afetado por fatores menos significativos do que o valor das ações. </p>
    
    <p>VENDA A QUALQUER MOMENTO</p>
    <p>Há sempre um comprador quando quer vender e há sempre um vendedor quando quer comprar. Isto é muito reconfortante! Mas isso pode melhorar se fizer mais dinheiro para ganhar mais dinheiro, que pode retirar sempre que quiser!</p>
      
  </div>

</ion-content>
